<!DOCTYPE html>
<html>
  <head>
    <% include template/head.ejs %>
  </head>
  <body id="<%= pageID %>" class="content">

    <!-- Main Content -->
    <% include content/main-content.ejs %>

    <!-- footer -->
    <% include template/footer.ejs %>

    <% include template/jsdefault.ejs %>
  </body>
</html>
